.svg {
    width: 100%;
    overflow:visible;
    margin:auto;

}

.slice {
    cursor: pointer;
    stroke:#d3d3d3;
    stroke-width:2px;
    opacity:.85;

    &.highlight {
        opacity: 1;
        stroke:black;
    }
}

.hide {
    opacity:0;
}

.graphicWrapper {
    display:flex;
    flex-direction:row;
    gap:1rem;
    width:90%;
    margin:auto;

    
}

.treemapContainer {
        width:50%;
    }

    .tooltipWrapper {
        width:50%;
    }


.tooltipContainer {
    width:100%;
    height:100%;
    font-size:14px;
    background-color:white;
    border:1px solid #d3d3d3;
}