.svg {
    width: 100%;
    overflow: visible;
    margin: auto;

}

.slice {
    cursor: pointer;
    stroke: #d3d3d3;
    stroke-width: 2px;
    opacity: .85;
}

.hide {
    opacity: 0;
}

.graphicWrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 90%;
    margin: auto;
}
@media (max-width: 600px) {
    .graphicWrapper {
        flex-direction: column;
    }
}

.treemapContainer {
    width: 50%;
}
@media (max-width: 600px) {
    .treemapContainer {
        width: 100%;
    }
}

.tooltipWrapper {
    width: 50%;
}
@media (max-width: 600px) {
    .tooltipWrapper {
        width: 100%;
    }
}

.tooltipContainer {
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: white;
    border: 1px solid #d3d3d3;
}

/* Styling for tooltips */
.tooltipHeader {
    background-color: #CFE0EF;
    padding: 0.5rem;
    margin: auto;
    font-weight: bold;
}

.tooltipSubText {
    margin-top: 0.25rem;
    font-size: 13px;
    font-style: italic;
}

.tooltipDescription {
    margin-top: 0.5rem;
    padding: 0 0.5rem;
}

.sectorAllocationLabel {
    margin-top: 1rem;
    font-weight: bold;
}

.sectorGrid {
    margin: 0 auto 1rem auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0rem;
    row-gap: 0rem;
    font-size: 12px;
    width: 75%;
    border: 1px solid black;
}

.gridHeaderCell {
    border: 0.5px solid #ccc;
    padding: 0.5rem;
    background-color: #CFE0EF;
    text-align: center;
    font-weight: bold;
}

.gridDataLabel {
    border: 0.5px solid #ccc;
    padding: 0.5rem;
    background-color: #EFF5FA;
    text-align: right;
}

.gridDataValue {
    border: 0.5px solid #ccc;
    padding: 0.5rem;
    text-align: right;
    background-color: white;
}

.weightBadge {
    margin: 0.5rem auto 0 auto;
    background-color: #CFE0EF;
    font-weight: bold;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 4px;
}

.priceSectionLabel {
    margin-top: 1rem;
    font-weight: bold;
}

.priceGrid,
.returnGrid {
    margin: 0 auto 1rem auto;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 12px;
    width: 50%;
    border: 1px solid black;
}

.priceGridLabel,
.returnGridLabel {
    border: 1px solid #ccc;
    padding: 0.25rem;
    background-color: #CFE0EF;
    text-align: right;
}

.priceGridValue,
.returnGridValue {
    border: 1px solid #ccc;
    padding: 0.25rem;
    background-color: white;
}



.tooltipHeaderDynamic {
    padding: 0.5rem;
    margin: auto;
}

.tooltipTitle {
    font-weight: bold;
}

.tooltipSector {
    font-size: 14px;
}

.tooltipDescription {
    margin-top: 0.5rem;
    padding: 0 0.5rem;
}

.weightBadge {
    margin: 0.5rem auto 0 auto;
    background-color: #CFE0EF;
    font-weight: bold;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 4px;
}

.sectionLabel {
    margin-top: 1rem;
    font-weight: bold;
}

.priceGrid,
.returnGrid {
    margin: 0 auto 1rem auto;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 12px;
    width: 50%;
    border: 1px solid black;
}

.gridLabelCell {
    border: 0.5px solid #ccc;
    padding: 0.25rem;
    background-color: #CFE0EF;
    text-align: right;
}

.gridValueCell {
    border: 0.5px solid #ccc;
    padding: 0.25rem;
    background-color: white;
}